* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("pattern.png");
}

.main {
  background: #cccccc;
  width: 400px;
  margin: 100px auto;
  height: 175px;
  position: relative;
  padding: 30px;
  border-radius: 5px;
}

.badge {
  width: 200px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  left: 25%;
  font-family: 'Press Start 2P', cursive;
}

.clock {
  background: #ebebeb;
  text-align: center;
  font-size: 30px;
  height: 100%;
  padding-top: 35px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
}

span {
  margin: 0 -18px;
}
